@model Product
@{
    ViewData["Title"] = "Details";
}
<div class="content-header">
    <div class="container-fluid ">
        <div class="breadcrumb d-flex justify-content-between align-items-center shadow pl-3 pr-3">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="/Admin/Home/Index">Home</a></li>
                <li class="breadcrumb-item"><a href="/Admin/product/Index">Company</a></li>
                <li class="breadcrumb-item active">Details</li>
            </ol>
            <div>
                <a asp-action="Index" class="btn btn-sm btn-theme"><i class="fa fa-arrow-left"></i>Back to Home</a>
            </div>
        </div>
    </div>
</div>


<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div class="d-flex w-100">
                    <div class="">
                        <span class="card-title"><i class="fas fa-list"></i> Details Of @Model.Title</span>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div>

                    <h4 class="text-themecolor">@Model.Title</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Title)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Title)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Company)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Company.CompanyName)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ProductImage)
                        </dt>
                        <dd class="col-sm-10">
                            @if (!string.IsNullOrEmpty(Model.ProductImage))
                            {
                                <img src="@Url.Content(Model.ProductImage)" height="100" />
                            }
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ShortDescription)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model=>model.ShortDescription)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Category)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model=>model.Category)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CountryOfOrigin)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model=>model.CountryOfOrigin)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.EAN_13)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model=>model.EAN_13)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Weight_SKU)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model=>model.Weight_SKU)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Packaging)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model=>model.Packaging)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Feature)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model=>model.Feature)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.UnitPrice)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model=>model.UnitPrice)
                        </dd>

                    </dl>
                </div>
                <div>
                    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
<script>
  $(document).ready(function () {
        $("#Catalogtreeview").addClass('menu-open');
        $("#productnav").addClass('active');
    });   
</script>

}